 body {
    background-color: #e0f3fe;
}
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}


.quote {
    position: relative;
    top:25px;
    left:400px;
}

    
.div1 {
    
    background-color: #8250df;
    width: 600px;
    height: 500px;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    color:hsl(260, 100%, 95%);
    border-radius: 10px;
    height: 300px;
    display: inline;
    font-family: "Barlow Semi Condensed", sans-serif;
}

.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    color:black;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    width:300px;
     font-family: "Barlow Semi Condensed", sans-serif;
     
}

div2 p{
  color:hsl(224, 10%, 45%);
}
.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 4;
    background-color: hsl(219, 29%, 14%);
    color:white;
    border-radius: 10px;
     font-family: "Barlow Semi Condensed", sans-serif;
    
}
div3 p{
  color:hsl(224, 10%, 45%);
}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;
    background-color:  hsl(217, 19%, 35%);
    color:white;
    border-radius: 10px;
    width:350px;
     font-family: "Barlow Semi Condensed", sans-serif;
   
    
}

.div5 {
    grid-row: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 1;
   background-color: white;
   color:black;
   border-radius: 10px;
   
   
}



.div1, .div2, .div3, .div4, .div5 {
  position: relative;
}

.daniel img,
.Jeanette img,
.Jonathan img,
.Kira img,
.Patrick img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.6);
  position: absolute;
  top: 25px;
  left: 25px;
}



.div1 h5:first-of-type,
.div2 h5:first-of-type,
.div3 h5:first-of-type,
.div4 h5:first-of-type,
.div5 h5:first-of-type {
  margin-top: 25px;   
  margin-left: 90px;  
  margin-bottom: -5px;
  font-size: 0.95rem;
  font-weight: bold;
}

.div1 h5:nth-of-type(2),
.div2 h5:nth-of-type(2),
.div3 h5:nth-of-type(2),
.div4 h5:nth-of-type(2),
.div5 h5:nth-of-type(2) {
  margin-left: 90px; 
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.75;
  margin-bottom: 20px;
}


/* AI */

@media (max-width: 850px) {
    .parent {
        grid-template-columns: 1fr;
    }

    .div1 {
        grid-column: 1 !important;
        grid-row: auto !important;
    }
     .div2 {
        grid-column: 1 !important;
        grid-row: auto !important;
    }
     .div3 {
        grid-column: 1 !important;
        grid-row: auto !important;
    }
     .div4 {
        grid-column: 1 !important;
        grid-row: auto !important;
    }
     .div5 {
        grid-column: 1 !important;
        grid-row: auto !important;
    }









