
body {
    background-color: #caecff;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}


.quote {
    position: relative;
    border-top-right-radius: 100px;
    

}
    
.div1 {
    background-color: #8250df;
    width: 600px;
    height: 500px;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    color:white;
}

.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    color:black;
    background-color: white;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 4;
    background-color: #1f2328;
    color:white;
}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;
    background-color: #59636e;
    color:white;
}

.div5 {
    grid-row: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 1;
   background-color: white;
   color:black;
    
}
        